.T-tree-border-radius() {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.T-tree-box-sizing() {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.T-tree-pm0() {
    padding: 0;
    margin: 0;
}

.Ttree-wrapper {
    .T-tree-box-sizing;
    height: 100%;
    min-height: 50px;//加入最小高度，以防止用户没有正确的给tree组件设定最外容器元素的高度
    overflow: auto;
    * {
        .T-tree-box-sizing;
    }
    ul {
        .T-tree-pm0;
    }
}
